/* ====== Common Style :: Start */
   
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
	font-family: Coiny-Regular;
	src: url(../fonts/Coiny-Regular.ttf);
  }
* {
    font-family:'Coiny-Regular';
    font-size: 14px;
}

html{
	overflow:hidden;
	font-size: 14px;
}
 
body {
	background-color: $white;
	position: relative;
	// width:1920px;
	max-width: 100%;
	margin:0 auto;
	height:100vh;
    overflow: hidden;
	// border:1px solid rgba($black, .1);

	// &.scroll-block{
	// 	position: fixed;
	// 	width: 100%;
	// 	overflow-y: scroll;
	//  }
  
  a.ux-button{text-decoration: none;}
  
 	 &.body-transparent {
		background-color: transparent;
	}
  
}
 
input, select, textarea {background: transparent;} 

a {
    cursor: pointer;
    color:rgba($brand-primary-color, 1);
    text-decoration:none;
}

a:hover {
    color:rgba($brand-primary-color, 0.85);
    text-decoration: underline;
}

a, a:hover, a:focus {outline: none;}

input:hover, input:focus, select:hover, select:focus, 
input[type="checkbox"], input[type="checkbox"]:focus,
input[type="radio"], input[type="radio"]:focus, .form-control:focus {
	outline: none;
	box-shadow: none;
	// border-color: $black;
}  

 
li {list-style-type: none;}

ul {padding-left: 0;}


 
h1 {
    color: rgba($black, 0.85);
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
    margin: 6px 0px;
    z-index: 1;
    display: block;
  }

  h2 {
    color: rgba($black, 0.85);
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.8rem;
    margin: 6px 0px;
    z-index: 1;
    display: block;
  }

  h3 {
    color: rgba($black, 0.85);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.8rem;
    margin: 6px 0px;
    z-index: 1;
    display: block;
  }

  h4 {
    color: rgba($black, 0.85);
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.6rem;
    margin: 6px 0px;
    z-index: 1;
    display: block;
  }

  h5 {
    color: rgba($black, 0.85);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.4rem;
    margin: 6px 0px;
    z-index: 1;
    display: block;
  }

  h6 {
    color: rgba($black, 0.85);
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.2rem;
    margin: 6px 0px;
    z-index: 1;
    display: block;
  }

  
em {font-style: normal;}

small {color: rgba($black, .5);}  

.radio, .checkbox {
	margin-top: 0;
	margin-bottom: 0;
}

.space-margin {margin: 0 -15px;}

.vspacer5 {
	height: 5px;
	display: block;
	width: 100%;
	clear: both;
}
.vspacer10 {
	height: 10px;
	display: block;
	width: 100%;
	clear: both;
}

.vspacer15 {
	height: 15px;
	display: block;
	width: 100%;
	clear: both;
}

.vspacer20 {
	height: 20px;
	display: block;
	width: 100%;
	clear: both;
	&.customize{
	    @media (max-width:767px) {
			height:5px !important;
	 	}	
	}
}
.vspacer30 {
	height: 30px;
	display: block;
	width: 100%;
	clear: both;
	&.customize{
	    @media (max-width:767px) {
			height:15px !important;
	 	}	
	}
}

.vspacer40 {
	height: 40px;
	display: block;
	width: 100%;
	clear: both;
}

.vspacer50 {
	height: 50px;
	display: block;
	width: 100%;
	clear: both;
}

.vspacer100 {
	height: 100px;
	display: block;
	width: 100%;
	clear: both;
}

.vspacer150 {
	height: 150px;
	display: block;
	width: 100%;
	clear: both;
}
  
.full-width1{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -20px;
	margin-left: -20px;
}

.no-gutters {
		margin-left: 20px;
		margin-right: 20px;

		@media screen and (max-width: 767px) {
			margin-left:15px;
			margin-right:15px;
		}
	}
 
.minus-nav {left: 0 !important;}

.minus-rt-col {margin-left: 0 !important;}

.action-btns {
	padding: 5px 0;
	@include flexbox;
	@include flex-justify-content;
	-webkit-align-items: center;
	align-items: center;
	margin: 0 auto 20px;
	width: calc(100% - 40px);
	&.cust-width{
		width: calc(100% - 40px);
		@media (max-width: 767px) {
			width: calc(100% - 30px);
		}

	}
	.ux-button {
		&.btn-cancel {
			display: none;
			@media (min-width: 767px) {
				display: inline-block;
			}
		}  
		& + .ux-button {
			margin-left: 15px;
		}
	}  
	.btn-timelog {
		display: none;
		@media (min-width: 767px) {
			display: inline-block;
			text-decoration: underline;
		}
	} 
	&>div {
		width: 100%;
		@include flexbox;
		justify-content: space-between;
		@media (min-width: 767px) {
			/*width: auto;*/display: block;
		}
	}
    
	&.sticky-footer {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background: $white;
		width: 100%;
		margin:0;
		padding:10px 40px;
		display: block;
		box-shadow:0 -3px 6px rgba($black,0.16);

	}
}  
 
.chargesPopup{
    .popup-body{
		max-height: 75vh;
		margin:0 -15px; 
		padding:0 15px;
		overflow: auto;
		text-align: left;	
		h5 , p , b{
			display:block; text-align: left;
		}
		ul{
			list-style: disc;
		}
    }
	

}

.card-carousal {
	.owl-theme .owl-dots .owl-dot{
		&.active{
			span {
				background-color: $yellow;
			}
		}
		 span{
			margin: 2px 3px;
		}
	}
}

.center-div{
	margin:0 auto;
	max-width: 1440px;
	position: relative;
 }
 
.legend{
	ul {
		margin: 0;
		li {
			color: #000;
			display: inline-block;
			margin: 0 15px 0 0;
			font-size: 0.9rem;
			line-height: 100%;
		}
	}
}

.row3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
	margin-left: -15px;
	@media screen and (min-width:300px) {
		margin-left:-10px;
		margin-right:-10px;
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10,
		 .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4,
		  .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
		   .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4,
			.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
			.col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
			 .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
			  .col-lg-auto, .col-xl-1,.col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
		  .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
			padding-left:5px;
			padding-right:5px;
		}
	}
}
.success-text{
	color: #fff !important;
	font-size: 13px !important;
	&.text-underline{
		text-decoration: underline;
	   }
}
.bg-white1{
	
	.dataRow{
		h6{
			color: #000;
			font-size: .8rem;
			font-weight: 500;
			text-transform: capitalize;
			line-height: 1.2rem;
			margin: 2px 0px;
			z-index: 1;
			display: block;
		}
		h5{
			color: #000;
			font-size: .75rem;
			font-weight: 500;
			text-transform: capitalize;
			line-height: 1.4rem;
			margin: 2px 0px;
			z-index: 1;
			display: block;
		}
	}
}
.custom-width-50{
	width: 50%;
}

// Login scss
#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }
.main{
	height: 100vh !important;
	overflow-y:scroll !important;
	overflow-x: hidden !important;
}
.boy{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 9;
	width: 600px;
	@media (max-width:767px) {
			width: 300px;
	}
}
.heading{
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	color: #fff;
	position: relative;
	z-index: 1;
	@media (max-width:767px) {
		font-size: 19px;
		line-height: 1.2;
	}
}
.main-sec{
	xbackground: url(../assets/images/background/NewBG.png)no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	padding-bottom: 2rem;
	// overflow-x:hidden;
	// overflow-y: scroll;
	&.ms{
			overflow-x:hidden;
	overflow-y: scroll;
	}
	&.video-sec{

	}
	.logo{
		width: 60px;
		margin:5px 0;
		position: relative;
		z-index: 9;
		@media (max-width:767px) {
			width: 100px;
			margin:5px 0;
		}
	}
	.bharat-logo{
		width: 400px;
		margin:20px;
		position: relative;
		z-index: 9;
		@media (max-width:767px) {
			width: 200px;
		}
	}

		
	
		h3{
			position: relative;
			font-size: 12px;
			font-weight: 400;
			color: #fff;
			text-align: center;
			margin:1rem 0 1.5rem;
		}
		h3:before{
			content: "";
			display: block;
			width: 100px;
			height: 1px;
			background: rgba(217, 217, 217, 1);
			left: 0;
			top: 50%;
			position: absolute;
		}
		h3:after{
			content: "";
			display: block;
			width: 100px;
			height: 1px;
			background:rgba(217, 217, 217, 1);
			right: 0;
			top: 50%;
			position: absolute;
		
		

	}
	@media (max-width:767px) {
		h3:after{
			width: 80px;

	}
	h3:before{
		width: 80px;
	}
	}
	ul{
			display: flex;
			align-items: center;
			justify-content: center;
			li{
				a{
					display: block;
					img{
						margin: 0 15px;
					}
				}
			
			}
		}
}	
.dd{
	float:unset !important;
	text-align: center !important;
	a{
		color:$brand-color;
		font-size: 13px;
		text-decoration: underline;
	}
}

#main-footer {
    background-color: #222222;
	p,a{
		color: #fff;
	}
	#footer-widgets {
		padding: 4rem 0;
	}
	#footer-bottom {
		background-color: #66cd00;
		padding: 1rem;
		text-align: center;
	}
}
.content-area{
	xmargin: -4rem 0 0;
	padding: 2rem 0;
	@media (max-width:767px) {
		margin: unset;
		padding: 0 0 2rem;
	}
}
header{
	@media (max-width:767px) {
			text-align: center;
	}
}
.overlay{
   
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	xbackground: linear-gradient(179.95deg, rgba(14, 35, 141, 0.9) 0.05%, #16191E 61.33%, #21252E 100.18%, #141519 87.43%, #17181D 95.7%);
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(14,35,141,0.7511379551820728) 0%, rgba(22,25,30,1) 60%, rgba(33,37,46,1) 76%, rgba(20,21,25,1) 86%, rgba(23,24,29,1) 100%);
	opacity: .8;
}
.overlay2{
   
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	xbackground: linear-gradient(179.95deg, rgba(14, 35, 141, 0.9) 0.05%, #16191E 61.33%, #21252E 100.18%, #141519 87.43%, #17181D 95.7%);
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(14,35,141,0.7511379551820728) 0%, rgba(22,25,30,1) 60%, rgba(33,37,46,1) 76%, rgba(20,21,25,1) 86%, rgba(23,24,29,1) 100%);
    opacity: .8;
}

.OTP-hide-sec{
	xdisplay: none;
}
