$white : #ffffff;
$black : #000000;
$green: #239105;
$green-light:#d2f3d2;
$green-dark:#007C3D;
$yellow:#f7b335;
$yellow-light:#f8e799;
$yellow-dark:#c99c07;
$red1:#c51523;
$red2:#e82338;
$red-light:#fde0e3;
$red-dark:#B8400D;
$grey1:#EFEFEF;
$grey2:#FCFCFC;
$grey3:#E8E8E8;
$grey4:#F5F5F5;
 
$grey-light:#e2e8f0;
$grey-vlight:#F7F8FA;
$grey-dark:#2F2F2F;
$grey-mdark:#444;
$blue:#0075b0;
$blue-dark:#04537a;
$sky-blue:#00b4f0;
$blue-light:#eef2ff;


$brand-primary-color:#FFDC00;  
$brand-primary-gradient-color: linear-gradient(90deg, #0691E1 0%, #41DF29 100%);
$brand-primary-gradient-color-hover: linear-gradient(90deg, #0672b0 0%, #2da21b 100%);
$brand-primary-color-light:#f1f5f9;
$brand-primary-color-light2:#dee2e8;
$brand-primary-color-medlight:#64748b;
$brand-primary-color-mlight:#2c3344;
$brand-primary-color-med:#4f46e5;
$brand-color:#329AD6;
$brand-default-color:#7F7F7F; 
$brand-default-color-light:#B2B2B2; 
$brand-default-color-dark:#575757; 
$brand-default-color-med:#80808057;

// $dark-theme-shade1: #121212;
// $dark-theme-shade2: #292929;
// $dark-theme-shade3: #444444;
// $dark-theme-shade4:#1d1c1c;
// $dark-theme-shade6: rgba(#707273, 0.2);
// $dark-theme-shade5: #303030 ;


// $dark-text-shade1: #ffffff ;
// $dark-text-shade2: #BEBEBE ;
// $dark-text-shade3: #EFEFEF ;
// $dark-text-shade4: #807E7E ;


// action colors 
$danger-color:#ef4444; 
$success-color:#22c55e; 
$warning-color:#f59e0b;
$info-color: #3b82f6;
 
 
$images-background-path: '../assets/images/background/';
$images-banner-path: '../assets/images/banner/';
$images-icons-path: '../assets/images/icons/';
$images-logo-path: '../assets/images/logo/';
$images-loader-path: '../assets/images/loader/';
$images-slides-path: '../assets/images/slides/';
$images-svg-path: '../assets/images/svg/';



